@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    html, body {
        margin: 0;
        box-sizing: border-box;
        overflow-x: clip;
        scroll-behavior: smooth;
        background: rgb(41 37 36);
    }

    *, *::after, *::before {
        box-sizing: inherit;
    }

    @media (min-width: 768px) {
        ::-webkit-scrollbar {
            background-image: linear-gradient(to bottom right, rgb(168 85 247) 10%, rgb(99 102 241) 90%);
            width: 0.5rem;
        }

        ::-webkit-scrollbar-thumb {
            background: rgb(130, 24, 237);
            border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: rgb(53, 57, 236);
        }
    }
}
